---
import { Hero } from '@sections/Hero'
import { Link } from '@components/Link.tsx'
import { ArrowUpRight, Github, Linkedin, Twitter } from 'lucide-react'
---
<html lang="en" class="dark" style="color-scheme: dark;">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Fonts -->
		<link rel="preconnect" href="https://rsms.me/" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

		<style>
			:root {
				font-family: Inter, sans-serif;
				font-feature-settings:
					"liga" 1,
					"calt" 1; /* fix for Chrome */
			}
			@supports (font-variation-settings: normal) {
				:root {
					font-family: InterVariable, sans-serif;
				}
			}
		</style>

		<link rel="stylesheet" href="/fonts/gt-super.css" />

		<title>Hi, I'm Thomas!</title>

		<!-- <script>
			if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.documentElement.classList.add('dark');
			}
		</script> -->
	</head>
	<body class="relative bg-neutral-900  !pb-32 text-white">
		<!-- <ThemeToggle client:load /> -->


		<!-- <Hero client:load /> -->
		<Hero client:load />
		<article
			class="container prose prose-invert mt-32 prose-h1:font-serif
			prose-h2:font-serif prose-h3:font-serif prose-p:font-semibold prose-a:no-underline
			prose-em:font-serif prose-em:font-light"
		>
			<h2>Who am I</h2>

			<p>
				Still figuring it out. In the meanwhile, I assume many roles and titles.
				<br />
				<em>Web Developer</em>, <em>OSS Maintainer</em>, <em>Designer</em>, <em>Docs Writer</em>,
				<em>Speaker</em>, <em>etc.</em>
				<br />
				<br />
				Through my passion, I've been fortunate to become a <em>Svelte ambassador</em>,
				work with inspiring companies such as <em>V7</em>, <em>Appwrite</em>, and <em>Significa</em>,
				and meet my heroes both online and personally.
				<br />
				<br />
				I'm trying to put my work out there, both to leave my mark,
				and to try and make world a <em>tiny</em> bit better with it. I've put some of it below.

			</p>

			<h2>Projects</h2>
			<ul>
				<li>
					<h3>
						<Link
							client:only="react"
							img="images/melt-ui.png"
							href="https://melt-ui.com/"
							className="transition-all hover:opacity-75"
						>
							<span class="inline-flex items-center gap-1 ">
								<span class="relative inline-block after:absolute after:bottom-[4px]
								after:left-1/2 after:z-[-1] after:h-1 after:w-full after:-translate-x-1/2
								after:border-b-[6px] after:border-[hsla(34.016,91.598%,65.164%,0.5)]"
								>
								Melt UI
								</span>
								<ArrowUpRight className="size-4" />
							</span>
						</Link>
					</h3>
					<p>
						The biggest headless UI library for Svelte, providing accessible & composable
						component builders.
					</p>
				</li>
				<li>
					<h3>
						<Link
							client:only="react"
							img="images/radix-svelte.png"
							href="https://radix-svelte.com/"
							className="transition-all hover:opacity-75"
						>
							<span class="inline-flex items-center gap-1 ">
								<span class="relative inline-block after:absolute after:bottom-[4px]
								after:left-1/2 after:z-[-1] after:h-1 after:w-full after:-translate-x-1/2
								after:border-b-[6px] after:border-[hsla(14.864,100%,49.771%,0.5)]"
								>
								Radix Svelte
								</span>
								<ArrowUpRight className="size-4" />
							</span>
						</Link>
					</h3>
					<p>
						The original port of Radix UI for Svelte. Won 3rd place at SvelteHack.<br />
						The work done here later inspired Melt UI.
					</p>
				</li>
				<li>
					<h3>
						<Link
							client:only="react"
							img="images/novel-svelte.png"
							href="https://novel-svelte-thomasglopes.vercel.app/"
							className="transition-all hover:opacity-75"
						>
							<span class="inline-flex items-center gap-1 ">
								<span class="relative inline-block after:absolute after:bottom-[4px]
								after:left-1/2 after:z-[-1] after:h-1 after:w-full after:-translate-x-1/2
								after:border-b-[6px] after:border-[hsla(0,0%,50%,0.5)]"
								>
									Novel Svelte
								</span>
								<ArrowUpRight className="size-4" />
							</span>
						</Link>
					</h3>
					<p>
						A port of Steven Tey's library, Novel, to Svelte. It's a Notion-style
						WYSIWYG editor, with AI-powered features.
					</p>
				</li>
			</ul>

			<h2>Experiments & Toys</h2>

			<h2>Socials</h2>

			<p>
				You can find me on
				<a
					class="my-0 ml-1 inline-flex translate-y-0.5 items-center font-serif
					font-light italic underline transition hover:opacity-75"
					href="https://twitter.com/thomasglopes"
					target="_blank"
				>
						<Twitter className="size-4 text-blue-500" />
						<span class="ml-1">twitter</span>
					</a>,
					<a
						class="my-0 mr-0.5 inline-flex translate-y-0.5 items-center font-serif
						font-light italic underline transition hover:opacity-75"
						href="https://github.com/tglide"
						target="_blank"
					>
					<Github className="size-4 text-gray-500" />
					<span class="ml-1">github</span>
				</a>
				<!-- Linkedin -->
				or
				<a
					class="my-0 ml-1 inline-flex translate-y-0.5 items-center font-serif
					font-light italic underline transition hover:opacity-75"
					href="https://www.linkedin.com/in/thomas-gl/"
					target="_blank"
				>
					<Linkedin className="size-4 text-blue-500" />
					<span class="ml-1">linkedin</span>
				</a>.
			</p>


	</body>
</html>
