---
import { Hero } from '@sections/Hero'
import {
  SiReact,
  SiSvelte,
  SiTailwindcss,
} from '@icons-pack/react-simple-icons'
import Combobox from '@components/Combobox.svelte'
import { ReactWork } from '@sections/ReactWork'
import { ThemeToggle } from '@components/ThemeToggle'
import { Link, Test } from '@components/Link.tsx'
---

<html lang="en" style="color-scheme: dark;">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Fonts -->
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <style>
      :root {
        font-family: Inter, sans-serif;
        font-feature-settings:
          "liga" 1,
          "calt" 1; /* fix for Chrome */
      }
      @supports (font-variation-settings: normal) {
        :root {
          font-family: InterVariable, sans-serif;
        }
      }
    </style>

    <link rel="stylesheet" href="/fonts/gt-super.css" />

    <title>Hi, I'm Thomas!</title>
  </head>
  <body class="relative bg-white !pb-32 text-neutral-800 dark:bg-neutral-900 dark:text-white">
    <ThemeToggle client:load />


    <!-- <Hero client:load /> -->
    <Hero client:load />
    <article
	class="container prose mt-32 dark:prose-invert prose-h1:font-serif
          prose-h2:font-serif prose-h3:font-serif prose-p:font-semibold prose-em:font-light"
    >
      <p>
        If you're reading this, you're looking at my application for the Design
        Engineer role at
        <SiTailwindcss className="ml-0.5 inline-block size-5 text-[#06B6D4]" /> Tailwind
        Labs, and may (hopefully) be thinking of hiring me.
        <br /><br />
        In any case, it'd be rude not to introduce myself properly!
      </p>

      <h2>Who am I?</h2>

      <p>
        My name is <em>Thomas G. Lopes</em>, I'm a 24 y/o
        <span class="line-through">nerd</span> developer based in
        <em>Portugal</em>.
      </p>

      <p>
        I live with my girlfriend, and two cats we rescued near our home.
        <br />
        <em>(Pro #1, if you hire me, plenty of cat pictures 🐱)</em>
      </p>

      <p>
        I have way too many hobbies that I unequally distribute my time between,
        such as playing guitar 🎸, gaming 🎮, and jumping way too much in metal
        concerts.
        <br />
        <em>(Pro #2, one more person to watch Slayer play!)</em>
        <br />
        <em>(...if they ever come out of retirement)</em>
      </p>

      <!-- <p>
        I didn't always think I'd be a developer. I've wanted to be an
        astronaut, a chef, a doctor, you name it. But one day a funny idea
        popped into my head that, hey, since I love computers so much, maybe
        it'd be interesting to learn how to make them do things. And so I did.
      </p> -->

      <p>
        I started learning to code when I was 16, grabbing Python books online
        and hammering at them. I eventually got to college to study Computer
        Science, but no idea what field I wanted to specialize in.
      </p>

      <p>
        I just knew it <em>definitely</em> wasn't <em>web development</em>. No
        way.
      </p>

      <p>
        Thing is, I was the only one who gave a crap about how our assignments
        looked. So, out of moral obligation, I experimented and tried my way
        until things were shiny and pretty.
      </p>

      <p>And now here I am.</p>

      <h2>Where are you now, exactly?</h2>

      <p>I'll paint the picture for you. 🎨</p>

      <p>
        I'm currently working at
        <a href="https://v7labs.com/" target="_blank">V7 labs</a>, one of the
        largest UK-based startups as a <br /><em>front-end engineer</em>.
      </p>

      <p>
        I'm a <SiSvelte className="ml-0.5 inline-block size-5 text-[#FF3E00]" />
        Svelte ambassador, and also the maintainer of the biggest headless library
        for Svelte,
				<Link client:only="react" img="images/melt-ui.jpeg" href="https://melt-ui.com/">Melt UI</Link>.
      </p>

      <Combobox client:load />
      <p class="!mt-2 opacity-75">
        <em class="font-serif">
          A recreation of Headless UI's Combobox component in Svelte, using Melt
          UI
        </em>
      </p>

      <p>
        It's one of my most proud achievements throughout my career, and
        definitely my most challenging one. With it, I became a <em>leader</em>,
        a <em>writer</em>, a <em>designer</em>, a <em>public speaker</em>, you
        name it.
      </p>

      <p>It's incredibly taxing, but also incredibly rewarding.</p>

      <h3>Wait, so you're a Svelte developer?</h3>

      <p>
        Not exactly. I'm a <em>web developer</em> first and foremost. I fell in love
        with the web, and my passion lies in making it a better place. I just use
        the tools that suit me best.
      </p>

      <p>
        I've used
        <SiReact className="ml-0.5 inline-block size-5 text-[#61DAFB]" /> React extensively,
        and I'm always tinkering with different frameworks. One of my goals is to
        build an agnostic headless library
        <em>(that also works in vanilla JS, unlike existing solutions)</em>, and
        as such, diving deep into different frameworks is a regular occurrence
        for me.
      </p>

      <p>
        In fact, most of my work experience has been in React. Check it out.
      </p>
    </article>

    <ReactWork client:load />
  </body>
</html>
