---
import Github from '~icons/ri/github-fill'
import Mail from '~icons/ri/mail-fill'
import Bluesky from '~icons/ri/bluesky-fill'
---

<p>
	You can find me on
	<a
		class="my-0 ml-1 mr-0.5 inline-flex translate-y-0.5 items-center font-serif
				font-light !no-underline transition hover:opacity-75"
		href="https://bsky.app/profile/thomas.rocks"
		target="_blank"
	>
		<Bluesky class="size-4 text-[#295ef6]" />
		<span class="ml-1 border-b-2 border-[#295ef6] leading-none">
			Bluesky
		</span>
	</a>,
	<a
		class="my-0 mr-0.5 inline-flex translate-y-0.5 items-center font-serif
					font-light !no-underline transition hover:opacity-75"
		href="https://github.com/tglide"
		target="_blank"
	>
		<Github class="size-4 text-gray-100" />
		<span class="ml-1 border-b-2 border-gray-100 leading-none">GitHub</span>
	</a>
	<!-- Linkedin -->
	or
	<a
		class="my-0 ml-1 mr-0.5 inline-flex translate-y-0.5 items-center font-serif
				font-light !no-underline transition hover:opacity-75"
		href="mailto:thomasgl@pm.me"
		target="_blank"
	>
		<Mail class="size-4 text-red-500" />
		<span class="ml-1 border-b-2 border-red-500 leading-none">Email</span
		>
	</a>.
</p>
